@typeparam TItem
@using System.Linq.Expressions
@typeparam TValue

<label for="@_id" class="k-label k-form-label">DropDown</label>
<div class="k-form-field-wrap">
    <TelerikDropDownList DefaultText=" " Id="@_id" Data="@Data" @bind-Value:get="@Value" @bind-Value:set="@ValueChanged">
        <DropDownListSettings>
            <DropDownListPopupSettings Height="auto"/>
        </DropDownListSettings>
    </TelerikDropDownList>

    @if (ValidationFor is not null)
    {
        <TelerikValidationMessage For="@ValidationFor"/>
    }
</div>

@code {
    private readonly string _id = Guid.NewGuid().ToString();

    [Parameter] public Expression<Func<TValue>>? ValidationFor { get; set; }

    [Parameter, EditorRequired] public required IEnumerable<TItem> Data { get; set; }
    [Parameter, EditorRequired] public required TValue Value { get; set; }
    [Parameter, EditorRequired] public EventCallback<TValue> ValueChanged { get; set; }
}