@typeparam TItem
@using System.Linq.Expressions
@typeparam TValue

<label for="@_id" class="k-label k-form-label">DropDown</label>
<div class="k-form-field-wrap">
    <TelerikDropDownList DefaultText=" " Id="@_id" Data="@Data" Value="@Value" ValueChanged="(TValue v) => ValueChanged.InvokeAsync(v)" ValueExpression="@ValueExpression">
        <DropDownListSettings>
            <DropDownListPopupSettings Height="auto" />
        </DropDownListSettings>
    </TelerikDropDownList>

    @if (ValueExpression is not null)
    {
        <TelerikValidationMessage For="@ValueExpression" />
    }
</div>

@code {
    private readonly string _id = Guid.NewGuid().ToString();

    [Parameter] public Expression<Func<TValue>>? ValueExpression { get; set; }

    [Parameter, EditorRequired] public required IEnumerable<TItem> Data { get; set; }
    [Parameter, EditorRequired] public required TValue Value { get; set; }
    [Parameter, EditorRequired] public EventCallback<TValue> ValueChanged { get; set; }
}